<!-- definePageMeta({
  layout: 'clean',
})

// 客户端发送 POST 请求示例
const { data, error } = await useFetch('/api/chat', {
  method: 'POST',
  body: {
    name: 'John',
    age: 30,
    model: 'deepseek-reasoner', // deepseek-reasoner deepseek-chat
    message: [{ role: 'user', content: 'What\'s the highest mountain in the world?' }],
  },
  // 可选配置
  headers: {
    'Content-Type': 'application/json',
  },
  params: {
    debug: true, // 附加查询参数
  },
}) -->
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body></body>
</html>
